@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Paralucent';
  src: url('../fonts/ParalucentText-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Paralucent';
  src: url('../fonts/Paralucent-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Paralucent';
  src: url('../fonts/Paralucent-DemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Paralucent';
  src: url('../fonts/Paralucent-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Paralucent';
  src: url('../fonts/Paralucent-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}
